
<div class="authentication">
  <div class="sign-in">
      <div class="row no-mrg-horizon">
          <div class="col-md-8 no-pdd-horizon d-none d-md-block">
              <div class="full-height bg" style="background-image: url('assets/images/others/img-29.jpg')">
                <div class="img-caption">
                    <h1 class="caption-title">We make spectacular products</h1>
                    <p class="caption-text">Making products nessecary for the modern age and the modern people</p>
                </div>
              </div>
          </div>
          <div class="col-md-4 no-pdd-horizon">
              <div class="full-height bg-white height-100">
                  <div class="vertical-align full-height pdd-horizon-70">
                      <div class="table-cell">
                          <div class="pdd-horizon-15">
                              <h2>Forgot Password</h2>
                              <p class="mrg-btm-15 font-size-13">Please enter your email address to send link</p>
                              <form [formGroup]="registerForm">
                                  <div class="input-field form-group">
                                      <input type="email"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                      <label for="">Email</label>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                  </div>
                                   
                                  <button (click)="send()" class="waves-effect waves-light btn btn-info">Send Reset Password Link</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="login-footer">
                      <img class="img-responsive inline-block" src="assets/images/logo/logo.png" width="100" alt="">
                      <span class="font-size-13 pull-right pdd-top-10">Already have an account? <a [routerLink]="[ '/' ]">Sign In Now</a></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>