

<app-navigation></app-navigation>
<div class="page-container">
	<!-- Header START -->
	<div class="header navbar">
		<div class="header-container">
			<ul class="nav-left">
				<li>
					<a
						class="side-nav-toggle"
						href="javascript:void(0);"
						>
					<i class="ti-view-grid"></i>
					</a>
				</li>
			</ul>
			<ul  class="nav-right">
			<li class="user-profile dropdown">
				<a
					href=""
					class="dropdown-toggle"
					data-toggle="dropdown"
					>
					 
					<div class="user-info">
						<span class="name pdd-right-5">{{_auth.user.firstName}} {{_auth.user.lastName}}</span>
						<i class="ti-angle-down font-size-10"></i>
					</div>
				</a>
				<ul class="dropdown-menu">
					<li *ngIf="_auth.role!='admin'">
						<a [routerLink]="[ '/profile', secureStorage.getUserId() ]">
						<i class="ti-user pdd-right-10"></i>
						<span>Profile</span>
						</a>
					</li> 
					<li *ngIf="_auth.role!='admin'">
						<a [routerLink]="[ '/settings' ]">
						<i class="ti-settings pdd-right-10"></i>
						<span>Settings</span>
						</a>
					</li>
					<li>
						<a href="">
						<i class="ti-comments pdd-right-10"></i>
						<span>Messages</span>
						</a>
					</li>
					<li
						role="separator"
						class="divider"
						></li>
					<li (click)="logout()">
						<a >
						<i class="ti-power-off pdd-right-10"></i>
						<span>Logout</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="notifications dropdown">
				<span *ngIf="notifications.length != 0" class="counter">{{notifications.length}}</span>
				<a
					href=""
					class="dropdown-toggle"
					data-toggle="dropdown"
					>
				<i class="ti-bell"></i>
				</a>
				<ul class="dropdown-menu">
					<li class="notice-header">
						<i class="ti-bell pdd-right-10"></i>
						<span>Notifications</span>
					</li>
					<li>
						<ul class="list-info overflow-y-auto relative scrollable">
							<li *ngFor="let notification of notifications">
								<a [href]="notification.link">
									 
									<div class="info">
										<span class="title">
										<span class="font-size-14 text-semibold">{{users[notification.user]}}</span>
										<span class="text-gray">
										{{notification.message}}
										</span>
										</span>
										<span class="sub-title">{{fullDate[notification._id]}}-{{timestamp[notification._id]}}</span>
									</div>
								</a>
							</li>
							<li class="notice-footer">
								<span>
								<a
									[routerLink]="[ '/notifications' ]"
									class="text-gray"
									>
								Check all notifications
								<i class="ti-angle-right pdd-left-5 font-size-10"></i>
								</a>
								</span>
							</li>
						</ul>
					</li>
        </ul>
        </li>
        </ul>
        
		</div>
	</div>
	<!-- Header END -->
	<router-outlet></router-outlet> 
</div>

