<!-- Content Wrapper START -->
<div class="main-content">
  <div class="container-fluid">
    <div class="page-title">
      <h4>Hospitals</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="table-overflow">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th> 
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of hospitals"> 
                    <td><a [routerLink]="[ '/edit-hospital', item._id ]">{{item.name}}</a></td>
                    <td>{{item.phone}}</td>
                    <td>{{item.address}}</td> 
                    <td (click)="delete(item._id)"><span class="ti-trash"></span></td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large red" [routerLink]="[ '/new-hospital' ]">
            <i class="ti-pencil"></i>
          </a> 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Wrapper END -->