<!-- Content Wrapper START -->
<div class="main-content">
  <div class="container-fluid">
      <div class="social">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-8">
                      <div class="card widget-feed">
                          <div class="feed-header">
                              <ul class="list-unstyled list-info">
                                  <li>
                                      <img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
                                      <div class="info">
                                          <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                                          <span class="sub-title">
                <i class="ti-timer pdd-right-5"></i>
                <span>18 min ago</span>
                                          </span>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="feed-body">
                              <p>Remember, a Jedi can feel the Force flowing through him. You mean it controls your actions? Partially. But it also obeys your commands. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. You don't believe in the Force, do you? Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. With the blast shield down, I can't even see. How am I supposed to fight? Your eyes can deceive you. Don't trust them.</p>
                          </div>
                          <ul class="feed-action border bottom">
                              <li>
                                  <a href="">
                                      <i class="ti-heart text-danger pdd-right-5"></i>
                                      <span>168</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="">
                                      <i class="ti-comments text-primary pdd-right-5"></i>
                                      <span>18</span>
                                  </a>
                              </li>
                          </ul>
                          <div class="feed-footer">
                              <div class="comment">
                                  <ul class="list-unstyled list-info">
                                      <li class="comment-item">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-4.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Samuel Field</a>
                                              <span class="sub-title inline-block pull-right">
                  <i class="ti-timer pdd-right-5"></i>
                  <span>6 min ago</span>
                                              </span>
                                              <p class="width-80">General Kenobi, years ago you served my father in the Clone Wars.</p>
                                          </div>
                                      </li>
                                      <li class="comment-item">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-6.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Michael Birch</a>
                                              <span class="sub-title inline-block pull-right">
                  <i class="ti-timer pdd-right-5"></i>
                  <span>3 min ago</span>
                                              </span>
                                              <p class="width-80">What good's a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage.</p>
                                          </div>
                                      </li>
                                  </ul>
                                  <div class="add-comment">
                                      <textarea rows="1" class="form-control" placeholder="Add comment"></textarea>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card widget-feed">
                        <div class="feed-header">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
                                    <div class="info">
                                        <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                                        <span class="sub-title">
              <i class="ti-timer pdd-right-5"></i>
              <span>18 min ago</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="feed-body">
                            <p>Remember, a Jedi can feel the Force flowing through him. You mean it controls your actions? Partially. But it also obeys your commands. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. You don't believe in the Force, do you? Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. With the blast shield down, I can't even see. How am I supposed to fight? Your eyes can deceive you. Don't trust them.</p>
                        </div>
                        <ul class="feed-action border bottom">
                            <li>
                                <a href="">
                                    <i class="ti-heart text-danger pdd-right-5"></i>
                                    <span>168</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="ti-comments text-primary pdd-right-5"></i>
                                    <span>18</span>
                                </a>
                            </li>
                        </ul>
                        <div class="feed-footer">
                            <div class="comment">
                                <ul class="list-unstyled list-info">
                                    <li class="comment-item">
                                        <img class="thumb-img img-circle" src="assets/images/avatars/thumb-4.jpg" alt="">
                                        <div class="info">
                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">Samuel Field</a>
                                            <span class="sub-title inline-block pull-right">
                <i class="ti-timer pdd-right-5"></i>
                <span>6 min ago</span>
                                            </span>
                                            <p class="width-80">General Kenobi, years ago you served my father in the Clone Wars.</p>
                                        </div>
                                    </li>
                                    <li class="comment-item">
                                        <img class="thumb-img img-circle" src="assets/images/avatars/thumb-6.jpg" alt="">
                                        <div class="info">
                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">Michael Birch</a>
                                            <span class="sub-title inline-block pull-right">
                <i class="ti-timer pdd-right-5"></i>
                <span>3 min ago</span>
                                            </span>
                                            <p class="width-80">What good's a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="add-comment">
                                    <textarea rows="1" class="form-control" placeholder="Add comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card widget-feed">
                        <div class="feed-header">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
                                    <div class="info">
                                        <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                                        <span class="sub-title">
              <i class="ti-timer pdd-right-5"></i>
              <span>18 min ago</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="feed-body">
                            <p>Remember, a Jedi can feel the Force flowing through him. You mean it controls your actions? Partially. But it also obeys your commands. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. You don't believe in the Force, do you? Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. With the blast shield down, I can't even see. How am I supposed to fight? Your eyes can deceive you. Don't trust them.</p>
                        </div>
                        <ul class="feed-action border bottom">
                            <li>
                                <a href="">
                                    <i class="ti-heart text-danger pdd-right-5"></i>
                                    <span>168</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="ti-comments text-primary pdd-right-5"></i>
                                    <span>18</span>
                                </a>
                            </li>
                        </ul>
                        <div class="feed-footer">
                            <div class="comment">
                                <ul class="list-unstyled list-info">
                                    <li class="comment-item">
                                        <img class="thumb-img img-circle" src="assets/images/avatars/thumb-4.jpg" alt="">
                                        <div class="info">
                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">Samuel Field</a>
                                            <span class="sub-title inline-block pull-right">
                <i class="ti-timer pdd-right-5"></i>
                <span>6 min ago</span>
                                            </span>
                                            <p class="width-80">General Kenobi, years ago you served my father in the Clone Wars.</p>
                                        </div>
                                    </li>
                                    <li class="comment-item">
                                        <img class="thumb-img img-circle" src="assets/images/avatars/thumb-6.jpg" alt="">
                                        <div class="info">
                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">Michael Birch</a>
                                            <span class="sub-title inline-block pull-right">
                <i class="ti-timer pdd-right-5"></i>
                <span>3 min ago</span>
                                            </span>
                                            <p class="width-80">What good's a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="add-comment">
                                    <textarea rows="1" class="form-control" placeholder="Add comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card widget-feed">
                        <div class="feed-header">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
                                    <div class="info">
                                        <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                                        <span class="sub-title">
              <i class="ti-timer pdd-right-5"></i>
              <span>18 min ago</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="feed-body">
                            <p>Remember, a Jedi can feel the Force flowing through him. You mean it controls your actions? Partially. But it also obeys your commands. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. You don't believe in the Force, do you? Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. With the blast shield down, I can't even see. How am I supposed to fight? Your eyes can deceive you. Don't trust them.</p>
                        </div>
                        <ul class="feed-action border bottom">
                            <li>
                                <a href="">
                                    <i class="ti-heart text-danger pdd-right-5"></i>
                                    <span>168</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="ti-comments text-primary pdd-right-5"></i>
                                    <span>18</span>
                                </a>
                            </li>
                        </ul>
                        <div class="feed-footer">
                            <div class="comment">
                                <ul class="list-unstyled list-info">
                                    <li class="comment-item">
                                        <img class="thumb-img img-circle" src="assets/images/avatars/thumb-4.jpg" alt="">
                                        <div class="info">
                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">Samuel Field</a>
                                            <span class="sub-title inline-block pull-right">
                <i class="ti-timer pdd-right-5"></i>
                <span>6 min ago</span>
                                            </span>
                                            <p class="width-80">General Kenobi, years ago you served my father in the Clone Wars.</p>
                                        </div>
                                    </li>
                                    <li class="comment-item">
                                        <img class="thumb-img img-circle" src="assets/images/avatars/thumb-6.jpg" alt="">
                                        <div class="info">
                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">Michael Birch</a>
                                            <span class="sub-title inline-block pull-right">
                <i class="ti-timer pdd-right-5"></i>
                <span>3 min ago</span>
                                            </span>
                                            <p class="width-80">What good's a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="add-comment">
                                    <textarea rows="1" class="form-control" placeholder="Add comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-heading border bottom">
                              <h4 class="card-title">Connected doctors</h4>
                          </div>
                          <div class="card-body">
                              <ul class="list-unstyled list-info">
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                                              <span class="sub-title">
                  <span>UI/UX Designer</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-2.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Harriet Douglas</a>
                                              <span class="sub-title">
                  <span>Director</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-6.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Michael Birch</a>
                                              <span class="sub-title">
                  <span>Project Manager</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-4.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Samuel Field</a>
                                              <span class="sub-title">
                  <span>App Developer</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-5.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jennifer Watkins</a>
                                              <span class="sub-title">
                  <span>Executive</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="border top">
                              <div class="pdd-vertical-15 pdd-horizon-20 text-center">
                                  <a href="" class="text-semibold text-dark">More...</a>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-heading border bottom">
                              <h4 class="card-title">Connected Nurses</h4>
                          </div>
                          <div class="card-body">
                              <ul class="list-unstyled list-info">
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                                              <span class="sub-title">
                  <span>UI/UX Designer</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-2.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Harriet Douglas</a>
                                              <span class="sub-title">
                  <span>Director</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-6.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Michael Birch</a>
                                              <span class="sub-title">
                  <span>Project Manager</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-4.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Samuel Field</a>
                                              <span class="sub-title">
                  <span>App Developer</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pdd-vertical-10 pdd-horizon-20">
                                          <img class="thumb-img img-circle" src="assets/images/avatars/thumb-5.jpg" alt="">
                                          <div class="info">
                                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jennifer Watkins</a>
                                              <span class="sub-title">
                  <span>Executive</span>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="border top">
                              <div class="pdd-vertical-15 pdd-horizon-20 text-center">
                                  <a href="" class="text-semibold text-dark">More...</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Content Wrapper END -->