<!-- Content Wrapper START -->
<div class="main-content">
    <div class="container-fluid">
        <div class="page-title">
            <h4>Captured Poses</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row" *ngFor="let block of poses">
                            <div class="col-md-4" *ngFor="let item of block">
                                <div class="demo-card-image mdl-card mdl-shadow--2dp">
                                    <div class="imageContainer">
                                        <img class="responsive-img" [src]="item.pose">
                                    </div>
                                </div>
                                <!-- Event card -->
                                <div class="demo-card-event mdl-card mdl-shadow--2dp">
                                    <div class="mdl-card__title mdl-card--expand">
                                        <h5>
                                            Time Stamp: {{item.createdt}}
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-12 col s12 center-align">
                                    <button *ngIf="item.deleted==false" (click)="hideImage(item.id, 0)" class="waves-effect waves-light btn btn-danger">Hide</button>
                                    <button *ngIf="item.deleted==true" (click)="hideImage(item.id, 1)" class="waves-effect waves-light btn btn-info">Show</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->