<div class="side-nav">
  <div class="side-nav-inner">
    <div class="side-nav-logo">
      <a href="index.html">
        <div
          class="logo logo-dark"
          style="background-image: url('assets/images/logo/logo.png')"
        >
      </div>

        <div
          class="logo logo-white"
          style="background-image: url('assets/images/logo/logo-white.png')"
        ></div>
      </a>

      <div class="mobile-toggle side-nav-toggle">
        <a href="">
          <i class="ti-arrow-circle-left"></i>
        </a>
      </div>
    </div>

    <ul class="side-nav-menu scrollable">
      <li class="nav-item active">
        <a
          class="mrg-top-30"
          href="index.html"
        >
          <span class="icon-holder">
            <i class="ti-home"></i>
          </span>

          <span class="title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="dropdown-toggle"
          href="javascript:void(0);"
        >
          <span class="icon-holder">
            <i class="ti-package"></i>
          </span>

          <span class="title">Pose Monitoring</span>

          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="email.html">View Data</a>
          </li>

          <li>
            <a href="calendar.html">Analytics</a>
          </li>

          <li>
            <a href="social.html">Status Report</a>
          </li>

          <li>
              <a href="task.html">User Connections</a>
            </li>
            <li>
              <a href="task.html">Device Configuration</a>
            </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a
          class="dropdown-toggle"
          href="javascript:void(0);" 
          
        >
        <!-- View all -->
          <span class="icon-holder">
            <i class="ti-palette"></i>
          </span>

          <span class="title">Diagnosis</span>

        </a>

      </li>

      <li class="nav-item dropdown">
        <a
          class="dropdown-toggle"
          href="javascript:void(0);"
        >
          <span class="icon-holder">
            <i class="ti-blackboard"></i>
          </span>

          <span class="title">Discussion Boards</span>

          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="form-elements.html">Search Board</a>
          </li>

          <li>
            <a href="form-layouts.html">My Boards</a>
          </li>

        </ul>
      </li>

      <li class="nav-item dropdown">
        <a
          class="dropdown-toggle"
          href="javascript:void(0);"
        >
          <span class="icon-holder">
            <i class="ti-comments"></i>
          </span>

          <span class="title">Messages</span>

        </a>

      </li>

      <li class="nav-item dropdown">
        <a
          class="dropdown-toggle"
          href="javascript:void(0);"
        >
          <span class="icon-holder">
            <i class="ti-agenda"></i>
          </span>

          <span class="title">Schedule Manager</span>

          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="google-map.html">Upcoming Appointments</a>
          </li>

          <li>
            <a href="vector-map.html">Past Appointments</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a
          class="dropdown-toggle"
          href="javascript:void(0);"
        >
          <span class="icon-holder">
            <i class="ti-pulse"></i>
          </span>

          <span class="title">Patient Monitor</span>

        </a>

      </li>

      <li class="nav-item dropdown">
        <a
          class="dropdown-toggle"
          href="javascript:void(0);"
        >
          <span class="icon-holder">
            <i class="ti-user"></i>
          </span>

          <span class="title">New User</span>

        </a>

      </li>
    </ul>
  </div>
</div>

<!-- Side Nav END -->