
<div class="authentication">
  <div class="sign-in">
      <div class="row no-mrg-horizon">
          <div class="col-md-8 no-pdd-horizon d-none d-md-block">
              <div class="full-height bg" style="background-image: url('assets/images/others/img-29.jpg')">
                  <div class="img-caption">
                      <h1 class="caption-title">We make spectacular</h1>
                      <p class="caption-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 no-pdd-horizon">
              <div class="full-height bg-white height-100">
                  <div class="vertical-align full-height pdd-horizon-70">
                      <div class="table-cell">
                          <div class="pdd-horizon-15">
                              <h2>Reset Password</h2>
                              <p class="mrg-btm-15 font-size-13">Please enter new password</p>
                              <form [formGroup]="registerForm">
                                  <div class="input-field  form-group">
                                      <label for="">New Password</label>
                                    <input type="password"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                                  </div>
                                  <div class="input-field  form-group">
                                        <label for="">Confirm Password</label>

                                    <input type="password"  formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                  </div>
                                  <button (click)="send()" class="waves-effect waves-light btn btn-info">Reset Password</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="login-footer">
                      <img class="img-responsive inline-block" src="assets/images/logo/logo1.gif" width="100" alt="">
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>